<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.example.test.base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name="com.example.test.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.test.activity.UpdateActivity" />
        <activity android:name="com.example.test.activity.SimpleViewActivity" />
        <activity android:name="com.example.test.activity.TestRequestActivity" />
        <activity android:name="com.example.test.activity.SimpleRequestActivity" />
        <activity android:name="com.example.test.activity.login.LoginActivity" />

        <activity android:name=".activity.web.WebActivity" />
        <activity android:name=".activity.view.DropDownMenuActivity"/>

        <!-- pickview -->
        <activity android:name=".activity.view.pickview.PickerViewActivity"/>
        <activity android:name=".activity.view.pickview.JsonDataActivity"/>
        <activity android:name=".activity.view.pickview.FragmentTestActivity"/>

        <!-- 注册service -->
        <service android:name="com.smm.lib.updateApp.service.DownloadService"/>

    </application>
</manifest>
